//
   Created by rohman on 5/27/16.

extends layout
block content
   h1=title
   table
      tr
      th Select
      th NIP
      th Name
      th gender
      th salary
      -each emp in employ
         tr
         td #{emp.nip}
         td #{emp.name}
         td #{emp.gender}
         td #{emp.salary}
