//
   Created by rohman on 5/27/16.

extends layout
block content
   h1=title
   table
      tr
      th NIP
      th Name
      th gender
      th salary
      -each emp in employ
         tr
         td #{emp.nip}
         td #{emp.name}
         td #{emp.gender}
         td #{emp.salary}
   br
   button(onclick="location.href='/save';") Save to MongoDB

   h1 This data retrieved from the database MongoDB
   table
      tr
      th NIP
      th Name
      th gender
      th salary
      -each emplo in employe
         tr
         td #{emplo.nip}
         td #{emplo.name}
         td #{emplo.gender}
         td #{emplo.salary}
         td: button(onclick="location.href='/delete/_id=#{emplo._id}'") Delete